@inherits LayoutComponentBase

<div class="page">

    <div class="main">

        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="navbar-nav">
                <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>

                <AuthorizeView>
                    <Authorized>

                        @if (context.User.IsInRole("Admin"))
                        {
                            <NavLink href="users" class="nav-item nav-link">Manage users</NavLink>
                        }

                        <NavLink href="users/edit" class="nav-item nav-link">Hello, @context.User.Identity.Name</NavLink>
                        <NavLink href="logout" class="nav-item nav-link">Logout</NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink href="login" class="nav-item nav-link">Login</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </nav>

        <div class="content px-4">

            <aTES.Blazor.Alerts.Alert/>

            @Body
        </div>
    </div>
</div>
