@page "/"

<h1>aTES Authentification service</h1>

Welcome,
<AuthorizeView>
    <Authorized>@context.User.Identity.Name</Authorized>
    <NotAuthorized>mr. popug, please sign in</NotAuthorized>
</AuthorizeView>
